/* page_background */

.login {
  align-items: center;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  padding: 0px 18%;

  background-image: url('login_bg.png');
  background-position: center;
  background-size: cover;
}

/* login_background */

.login_background{
  align-items: flex-start;
  display: flex;
  margin-top: 80px;
  max-width: 1204px;

  background: #FFFFFF;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}

/* left */

.left{
  align-items: flex-end;
  height: 755px;
  width: 350px;

  background: linear-gradient(180deg, #E6655E 0%, #AD1B13 100%);
  border-radius: 20px 0px 0px 20px;
}

/* login_logo */

.login_logo {
  position: relative;
  object-fit: cover;
  width: 150px;
  height: 150px;
  left: 112px;
  top: 100px;

  filter: drop-shadow(0px 5px 25px #B4132E);
}

/* R E S T A U R A N T S Y S T E M */

.res {
  position: relative;
  top: 163px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;
  text-shadow: 0px 4px 10px #000000;
}

/* right */

.right {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  height: 755px;
  left: 181px;
  /* top: 200px; */
  padding: 164px 0px;
  /* margin-top: 25%; */
}

/* LOGIN */

.title {
  position: relative;
  left: -165px;

  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 400;

  color: #661100;
}

/* REGISTER */

.title_register {
  position: relative;
  left: -105px;

  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 400;

  color: #661100;
}

/* FORGET */

.title_forget {
  position: relative;
  /* left: -105px; */

  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 400;

  color: #661100;
}

/* line */

.line {
  /* height: 2px; */
  /* margin-top: 2px; */
  min-width: 482;
}

input[type="email" i] {
  /* padding: 1px 2px; */
  /* padding-right: 300px; */
  width: 480px;
}

input[type="password" i] {
  /* padding: 1px 2px; */
  /* padding-right: 300px; */
  width: 480px;
}

input[type="submit" i] {
  background: linear-gradient(87.79deg, #AD1B13 0%, #E6655E 100%);
  box-shadow: 0px 10px 20px rgb(208 73 65 / 75%);
  border-radius: 10px;

  font-weight: 300;
  color: #e9dbd9;
}

/* btns */

.login_bnt {
  position: relative;
  margin-top: 20px;
  margin-left: 40%;
  /* min-width: 270px; */

  font-family: 'Roboto';
  font-size: 32px;
}

.register_bnt {
  position: relative;
  margin-top: 20px;
  margin-left: 31%;
  /* min-width: 270px; */

  font-family: 'Roboto';
  font-size: 32px;
}

.forget_bnt {
  position: relative;
  margin-top: 20px;
  margin-left: 13%;
  /* min-width: 270px; */

  font-family: 'Roboto';
  font-size: 18px;
}

/* links */

.links {
  padding-top: 25px;

  text-align: center;
}
